// colors
$od-blue:           rgb(0, 101, 149);
$od-blue-mid:       rgb(112, 205, 227);
$od-blue-black:     rgb(6, 35, 64);
$od-green:          rgb(141, 198, 63);
$od-yellow:         rgb(243, 199, 0);
$od-orange:         rgb(248, 148, 51);
$od-red:            rgb(240, 81, 51);
$od-gray-light:     rgb(240, 240, 240);
$od-gray-mid:       rgb(167, 169, 172);
$od-gray-dark:      rgb(109, 110, 113);
$white:             rgb(255, 255, 255);
$black:             $od-blue-black;

// type colors
$link-color:        $od-blue;