// colors
$fr-blue:           rgb(0, 101, 149);
$fr-blue-mid:       rgb(112, 205, 227);
$fr-blue-black:     rgb(6, 35, 64);
$fr-green:          rgb(141, 198, 63);
$fr-yellow:         rgb(243, 199, 0);
$fr-orange:         rgb(248, 148, 51);
$fr-red:            rgb(240, 81, 51);
$fr-gray-light:     rgb(240, 240, 240);
$fr-gray-mid:       rgb(167, 169, 172);
$fr-gray-dark:      rgb(109, 110, 113);
$white:             rgb(255, 245, 255);
$black:             $fr-blue-black;

// type colors
$link-color: $fr-blue;